body {
    background-color: darkgrey;
}
#header{
    font-size: 50px;
    text-align: center;
}
button {
    font-size: 30px;
    margin: 5px;
    margin:auto;
    text-align: center;
    background-color: bisque;
}
.buttonContainer{
    padding-top: 20px;
    text-align: center;
}
.winsContainer{
    display: flex;
    justify-content: center;   
}
#winCounter {
    font-size: 30px;
    display: flex;
    margin-top: 10px; 
    justify-content: center;   
    margin-right: 320px;
    padding-left: 7px;

}
#wins {
    font-size: 30px;
    display: flex;
    margin-top: 10px; 
    justify-content: center;   
}
.lossesContainer{
    display: flex;
    justify-content: center;   
}
#lossCounter {
    font-size: 30px;
    display: flex;
    margin-top: 10px; 
    justify-content: center;   
    margin-right: 320px;
    padding-left: 7px;
}
#losses {
    font-size: 30px;
    display: flex;
    margin-top: 10px; 
    justify-content: center;   
}